@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";

@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/menu.scss";
@import "blocks/intro.scss";
@import "blocks/catalog.scss";
@import "blocks/promo.scss";

body {
  max-width: 1920px;
  background-color: #ffffff;
  color: #000000;
  margin: 0px;
  padding: 0px;
  font-family: "Myriad Pro", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  text-align: left;
}
