@font-face {
			font-family: "MyriadProRegular";
			src:
			url("../fonts/MyriadProRegular.woff") format("woff");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "MyriadProBold";
			src:url("../fonts/MyriadProBold.woff") format("woff");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "MyriadProItalic";
			src:url("../fonts/MyriadProItalic.woff") format("woff");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "MyriadProBoldItalic";
			src:url("../fonts/MyriadProBoldItalic.woff") format("woff");
			font-style: normal;
			font-weight: normal;
	}
