/* color */
$aquamarine: #00b0ff;
$black:  #000000;

/* fonts */
$title-font-size: 18px;

/* adaptive */
$mobile-widths-only: "max-width: 767px";
$tablet-widths: "min-width: 768px";
$desktop-widths: "max-width: 1920px";
