.block-3 {
  padding-top: 60px;
  @media ($mobile-width) {
    padding-top: 30px;
  }
}

.block-3__title {
  font-size: 54px;
  text-align: center;
  margin-bottom: 56px;
  @media ($mobile-width) {
    width: 90%;
    font-size: 45px;
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 30px;
  }
}

.block-3__items {
  width: 100%;
  display: flex;
  @media ($tablet-width) {
    flex-wrap: wrap;
  }
  @media ($mobile-width) {
    flex-wrap: wrap;
  }
}

.block-3__img {
  width: 25%;
  height: 300px;
  &--blue {
    background-color: #83d0f5;
  }
  &--green {
    background-color: #cfe09b;
  }

  @media ($tablet-width) {
    width: 33.33%;
    height: 240px;
  }
  @media ($mobile-width) {
    width: 50%;
    height: 160px;
    margin-bottom: 20px;
  }
}
