.footer {
  background-color: #8f99cd;
}

.footer__inner {
  @include container-fluid();
  padding: 35px 20px;
  box-sizing: border-box;
  background-color: #8f99cd;
  @media ($mobile-width) {
    padding: 35px 20px;
  }
}

.footer__text {
  width: 412px;
  color: white;
  font-size: 14px;
  margin-bottom: 45px;
  @media ($mobile-width) {
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
}

.footer__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  @media ($tablet-width) {
    justify-content: flex-start;
  }
  @media ($mobile-width) {
    display: block;
  }
}

.footer__left {
  display: flex;
  @media ($mobile-width) {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 20px;
  }
}

.footer__item {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  margin-right: 15px;
  @media ($mobile-width) {
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
  }
}

.footer__right {
  width: 152px;
  height: 20px;
  background-color: #ffffff;
  @media ($tablet-width) {
    margin-left: 11%;
  }
  @media ($mobile-width) {
    width: 200px;
    height: 30px;
    margin: 0 auto;
  }
}
