.header {
  background-color: #009fe3;
}

.header_inner {
  @include container-fluid();
  padding: 0 20px;
  background-color: #009fe3;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  @media ($tablet-width) {
    width: 100%;
    justify-content: space-around;
    padding: 0px;
  }
  @media ($mobile-width) {
    display: block;
    padding: 0px;
    padding-top: 16px;
  }
}

.header__toggle {
  display: none;
  @media ($mobile-width) {
    display: block;
    position: absolute;
    top: 23px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: white;
    padding-top: 6px;
    transition: left .23s;
    z-index: 3;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.header__toggle-close{
  display: none;
  @media ($mobile-width) {
    display: block;
    position: absolute;
    top: 110px;
    right: 20px;
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #e5e5e5;
    padding-top: 10px;
    transition: left .23s;
    z-index: 3;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.header__menu-mobile {
  display: none;
  @media ($mobile-width) {
  width: 100%;
  height: 120px;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 15px;
  background-color: white;
  }
}

#open-menu:not(:target) {
  display: none;
}

#open-menu:target {
  display: block;
}

.header__icon-menu {
  display: none;
  @media ($mobile-width) {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px 0px 8px 10px;
    background-color: #009fe3;
    &--one {
      -webkit-transform: rotate(45deg);
      margin: 10px 0px 4px 10px;
    }
    &--two {
      -webkit-transform: rotate(-45deg);
      margin: -9px 0px 6px 10px;
    }
  }
}

.header__left {
  width: 100px;
  height: 70px;
  margin: 16px 0px;
  background-color: #83d0f5;
  @media ($mobile-width) {
    margin: 0 auto;
  }
}

.header__right {
  background-color: #009fe3;
  display: flex;
}

.header__one, .header__two {
  width: 300px;
  height: 50px;
  margin: 26px 0px;
  margin-left: 20px;
  background-color: #e5e5e5;
  @media ($tablet-width) {
    width: 220px;
  }
  @media ($mobile-width) {
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 22px;
    width: 70%;
  }
}

.header__one {
  @media ($mobile-width) {
    display: none;
  }
}
