.promo {
  background-color: #e2e6e7;
}

.promo_inner {
  @include container-fluid();
  padding: 90px 20px;
  background-color: #e2e6e7;
  @media ($mobile-width) {
    padding: 35px 0px;
    padding-bottom: 55px;
  }
}

.promo__title {
  width: 600px;
  font-size: 70px;
  @media ($mobile-width) {
    width: 90%;
    font-size: 45px;
    text-align: center;
    padding: 0px 20px;
  }
}

.promo__description {
  width: 630px;
  padding-bottom: 30px;
  @media ($mobile-width) {
    width: 90%;
    text-align: center;
    padding: 0px 20px;
  }
}

.promo__button {
  padding: 25px 130px;
  background-color: #ffffff;
  @media ($mobile-width) {
    display: block;
    width: 68%;
    padding: 23px 0px;
    text-align: center;
    margin: 0 auto;
  }
}
