.menu {
  width: 546px;
}

.menu__list {
  display: flex;
  list-style:none;
  text-align: center;
  justify-content: space-between;
}

.menu__item {
  text-align: center;
}

.menu__link {
  font-size: 14px;
  padding: 5px 5px;
  border: none;
  text-decoration: none;
  color: #000000;
  &:hover {
    color: white;
    background-color: #00b0ff;
  }
}
