.posts {
  width: 1172px;
  margin: 0 auto;
}

.posts__items {
  display: flex;
  justify-content: center;
}

.posts__item {
  text-align: center;
}

.posts__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  padding-bottom: 30px;
}

.posts__text {
  width: 60%;
}
