.promo {
  position: relative;
  width: 100%;
  height: 630px;
  background-image: url("../img/Surfing_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00d2ff;
  margin-bottom: 400px;
  display: flex;
  margin-top: 150px;
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 143px;
    margin: 0 auto;
    bottom: 0;
    background-image: url("../img/About_us.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 143px;
  }
}

.promo__desc {
  width: 400px;
  background-color: white;
  padding: 90px 70px 300px 365px;
  margin-top: 290px;
}

.promo__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.promo__video {
  margin-top: 550px;
  margin-left: 45px;
}

.promo__text {
  padding-bottom: 50px;
  font-size: 22px;
  line-height: 38px;
}

.promo__link {
  color: #11b5ff;
}
